body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav li{
  list-style: none;
  display: inline;
  margin-right: 50px;
}
nav li a{
  text-decoration: none;
  font-size: 1.3em;
}
nav li a:hover{
  font-weight:bold;
  color:
}
